# Copy this file to .env and adjust values for local testing
S3_TEST_SERVICE_URL=http://localhost:8080
S3_TEST_REGION=eu-west-1
S3_TEST_ACCESS_KEY=admin
S3_TEST_SECRET_KEY=admin
S3_TEST_BUCKET_PREFIX=questionable-s3-tests-
